@using Demo.BLL.Services.DepartmentServices
@using Demo.DAL.Models.Shared
@using Demo.PL.ViewModels
@model EmployeeViewModel
@inject IDepartmentServices departmentService
@{
    var departments = departmentService.GetAllDepartments() ?? new List<DepartmentDTO>();
    var Departments = new SelectList(departments, "DeptID", nameof(DepartmentDTO.Name));
}
 
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Image"></label>
    <input asp-for="Image" type="file" class="form-control" />
    <span asp-validation-for="Image" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="HiringDate"></label>
    <input type="date" asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <input asp-for="IsActive" class="form-check-input" />
    <label class="col-form-label" asp-for="IsActive"></label>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="EmployeeType"></label>
    <select class="form-control" asp-for="EmployeeType" asp-items="Html.GetEnumSelectList<EmployeeType>()"><option value="">Select Employee Type</option></select>
    <span asp-validation-for="EmployeeType" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="DepartmentID"></label>
    <select class="form-control" asp-for="DepartmentID" asp-items="Departments">
        <option value="@null">Select Department</option>
    </select>
    <span asp-validation-for="DepartmentID" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="gender"></label>
    <div>
        @foreach (var genderoption in Enum.GetValues<EmployeeGender>())
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="gender" value="@genderoption" />
                <label class=" form-check-label">@genderoption</label>
            </div>
        }
    </div>
    <span asp-validation-for="gender" class="text-danger"></span>
</div>