
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
<div class="agileits-top">
<p>Please Check Your InBox</p>
<p><a href="https://mail.google.com">Go To Your InBox</a><p/>
<div/>
    </div>
