
@using Demo.PL.ViewModels
@using Demo.PL.Views.Account
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="NewPassword" placeholder="New Password" >
            <span asp-validation-for="NewPassword"></span>
            <br />
            <input asp-for="ConfirmPassword" placeholder="Confirm New Password">
            <span asp-validation-for="ConfirmPassword"></span>
            <br />
            <input type="submit" value="Change Password">
        </form>
    </div>
</div>


